.root {
  /* background-color: var(--notification-color, var(--mantine-primary-color-filled)); */
  /* background: linear-gradient(90deg, var(--notification-color) 0%, rgba(93, 94, 94, 0.651) 100%); */
  background-color: var(--notification-color);
  /* opacity: 80% !important; */
  /* backdrop-filter: blur(10px)!important;
  -webkit-backdrop-filter: blur(10px)!important; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* box-shadow: 0 8px 32px 0 rgba(122, 120, 124, 0.50); */
  /* border: 1px solid var(--notification-color); */
  top: 60px;
  max-width: 60vw;
  min-width: 10vw;
  &::before {
    background-color: var(--mantine-color-white);
  }
}

.description,
.title {
  color: var(--mantine-color-white);
}

.description{
  font-size:small;
  font-weight: 500;
}
.title{
  font-size: smaller;
  font-style: italic;
}

.closeButton {
  color: var(--mantine-color-white);
}
